DB_URL=
DB_USE_NULLPOOL=true
GURU_API_KEY=
GURU_API_URL=https://digitalmanager.guru/api/v2
GURU_INGRESSO_GROUP_ID=
GURU_SYNC_INTERVAL_MINUTES=60
ADMIN_API_KEY=
FRONTEND_URL=http://localhost:3000
ENVIRONMENT=local
